<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Auftragsdetails - {{ auftrag.name }}</title>
</head>
<body>

<h1>{{ auftrag.name }}</h1>

    <a href="{% url 'PersonaleinsatzplanHaeH:auftrag_update' auftrag.pk %}">Auftrag bearbeiten</a> |
    <a href="{% url 'PersonaleinsatzplanHaeH:auftrag_delete' auftrag.pk %}?next={{ request.path }}">
    Auftrag löschen
    </a>

<!-- Auftragsinformationen -->
<table border="1">
    <thead>
        <tr>
            <th>Auftragsinformationen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Vergabenummer:</strong> {{ auftrag.vergabenummer }}</td>
            <td><strong>Optionsnummer:</strong> {{ auftrag.optionsnummer }}</td>
            <td><strong>Maßnahmenummer:</strong> {{ auftrag.massnahmenummer }}</td>
        </tr>
        <tr>
            <td><strong>Startdatum:</strong> {{ auftrag.startdatum }}</td>
            <td><strong>Enddatum:</strong> {{ auftrag.enddatum }}</td>
            <td><strong>Personaleinsatzplan:</strong> 
                <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_detail2' auftrag.personaleinsatzplan.pk %}?next={{ request.path }}">
                    {{ auftrag.personaleinsatzplan.name }}
                </a>
            </td>

        </tr>
        <tr>
            <td><strong>Maximale Klienten:</strong> {{ auftrag.max_klienten }}</td>
            <td><strong>Mindestklienten:</strong> {{ auftrag.mindest_klienten }}</td>
            <td><strong>Aktuelle Klienten:</strong> {{ auftrag.aktuell_klienten }}</td>
        </tr>
    </tbody>
</table>


<h3></h3>

{% for betreuungsschluessel in auftrag.betreuungsschluessel.all %}
    <table border="1">
        <thead>
            <tr>
                <td><strong>{{ betreuungsschluessel.name }}</strong></td>
                <td><a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_delete' pk=betreuungsschluessel.pk %}?next={{ request.path }}">
                        Betreuungsschlüssel entfernen
                    </a>
                </td>
            </tr>
        </thead>
            <tr>
                <td><strong>Klienten pro Betreuer:</strong> {{ betreuungsschluessel.klienten_pro_betreuer }}</td>
                <td><strong>Abgedeckte VZA:</strong> {{ betreuungsschluessel.abgedeckte_VZA }}</td>
            </tr>
        <tbody>
            <tr>
                <td><strong>Benötigte VZA Max:</strong> {{ betreuungsschluessel.benoetigte_VZA_max }}</td>
                <td><strong>Benötigte VZA Mindest:</strong> {{ betreuungsschluessel.benoetigte_VZA_mindest }}</td>
                <td><strong>Benötigte VZA Aktuell:</strong> {{ betreuungsschluessel.benoetigte_VZA_aktuell }}</td>
            </tr>
                <td><strong>VZA Differenz Max:</strong> {{ betreuungsschluessel.differenz_VZA_max }}</td>
                <td><strong>VZA Differenz Mindest:</strong> {{ betreuungsschluessel.differenz_VZA_mindest }}</td>
                <td><strong>VZA Differenz Aktuell:</strong> {{ betreuungsschluessel.differenz_VZA_aktuell }}</td>
        </tbody>
    </table>

    <!-- Mitarbeiter für den Betreuungsschlüssel -->
    <h3>Mitarbeiter für {{ auftrag.name }}</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Nachname, Vorname</th>
                <th>Geburtsdatum</th>
                <th>Qualifikation</th>
                <th>Max. wöchentliche Arbeitszeit</th>
                <th>Anteil Stunden im Projekt</th>
                <th>Zugewiesene Stunden</th>
                <th>Verbleibende Stunden</th>
                <th>Kommentar</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for zuweisung in betreuungsschluessel.mitarbeiter_zuweisungen.all %}
            <tr>
                <td>
                    {% if zuweisung.mitarbeiter %}
                        <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_detail' zuweisung.mitarbeiter.id %}?next={{ request.path }}">
                            {{ zuweisung.mitarbeiter.nachname }}, {{ zuweisung.mitarbeiter.vorname }}
                        </a>
                        {% else %}
                            Kein Mitarbeiter zugewiesen
                        {% endif %}
                </td>
                <td>{{ zuweisung.mitarbeiter.geburtsdatum }}</td>
                <td>{{ zuweisung.mitarbeiter.qualifikation }}</td>
                <td>{{ zuweisung.mitarbeiter.max_woechentliche_arbeitszeit }}</td>
                <td>{{ zuweisung.anteil_stunden_pro_woche }}</td>
                <td>{{ zuweisung.total_hours }}</td> <!-- Hier wird total_hours angezeigt -->
                <td>{{ zuweisung.freie_stunden }}</td> <!-- Hier wird free_hours angezeigt -->
                <td>{{ zuweisung.kommentar }}</td>
                <td>
                    <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_betreuungsschluessel_delete' zuweisung.id %}">
                        Entfernen
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Keine Mitarbeiter zugewiesen.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_betreuungsschluessel_create' betreuungsschluessel.id %}?next={{ request.path }}">
        Mitarbeiter zuweisen
    </a>

    <br><br>
{% empty %}
    <p>Keine Betreuungsschlüssel vorhanden.</p>
{% endfor %}

<!-- Aktionen -->
<p>
    <a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_create' %}?auftrag_id={{ auftrag.id }}&next={{ request.path }}">
        Neuen Betreuungsschlüssel erstellen
    </a>
</p>

<!-- Navigation -->
<p>
    
    <a href="{{ zurueck_link }}">Zurück</a>


</p>

</body>
</html>
