<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Auftragsdetails - {{ auftrag.name }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Auftragsdetails - {{ auftrag.name }}</title>
</head>
<body class="personaleinsatzplan-seite">

<div class="navbar">
    <a href="{% url 'PersonaleinsatzplanHaeH:logout' %}" class="logout-link">Abmelden</a>
</div>

<h2>{{ auftrag.name }}</h2>
<div class="actions">
    <a href="{% url 'PersonaleinsatzplanHaeH:auftrag_update' auftrag.pk %}" class="action-link2">Auftrag bearbeiten</a>
    <a href="{% url 'PersonaleinsatzplanHaeH:auftrag_delete' auftrag.pk %}?next={{ request.path }}" class="action-link2">
    Auftrag löschen
    </a>
</div>

<section>
    <table>
        <thead>
            <tr>
                <td><strong>Auftragsinformationen</strong></td>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td><strong>Startdatum</strong></td>
                <td>{{ auftrag.startdatum|date:"d.m.Y" }}</td>
                <td><strong>Enddatum</strong></td>
                <td>{{ auftrag.enddatum|date:"d.m.Y" }}</td>
                <td><strong>Personaleinsatzplan</strong>
                    <td><a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_detail2' auftrag.personaleinsatzplan.pk %}?next={{ request.path }}" class="card-link2">
                        {{ auftrag.personaleinsatzplan.name }}
                    </a></td>
            </tr>
        
            <tr>
                <td><strong>Vergabenummer</strong></td>
                <td>{{ auftrag.vergabenummer }}</td>
                <td><strong>Optionsnummer</strong></td>
                <td>{{ auftrag.optionsnummer }}</td>
                <td><strong>Maßnahmenummer</strong></td>
                <td>{{ auftrag.massnahmenummer }}</td>
            </tr>
    
            <tr>
                <td><strong>Maximale Anzahl Teilnehmer:innen</strong></td>
                <td>{{ auftrag.max_klienten }}</td>
                <td><strong>Mindestanzahl Teilnehmer:innen</strong></td>
                <td>{{ auftrag.mindest_klienten }}</td>
                <td><strong>Anzahl der aktuellen Teilnehmer:innen</strong></td>
                <td>{{ auftrag.aktuell_klienten }}</td>
            </tr>
        </tbody>
    </table>
</section>

<h3></h3>

{% for betreuungsschluessel in auftrag.betreuungsschluessel.all %}
    <table border="1">
        <thead>
            <tr>
                <td><strong style="color: #e7661f;">{{ betreuungsschluessel.name }}</strong><br> 
                    <a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_delete' pk=betreuungsschluessel.pk %}?next={{ request.path }}">
                        Betreuungsschlüssel löschen</a>
                </td>
                <td><strong>Teilnehmer:innen pro Betreuer:in</strong></td>
                <td>{{ betreuungsschluessel.klienten_pro_betreuer }}</td>
                <td><strong>Derzeit abgedeckte Vollzeitstellen</strong></td>
                <td>{{ betreuungsschluessel.abgedeckte_VZA }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Gesamtbedarf an Vollzeitstellen</strong></td>
                <td>{{ betreuungsschluessel.benoetigte_VZA_max }}</td>
                <td><strong>Mindestbedarf an Vollzeitstellen</strong></td>
                <td>{{ betreuungsschluessel.benoetigte_VZA_mindest }}</td>
                <td><strong>Benötigte Vollzeitstellen für die derzeitigen Teilnehmer:innen</strong></td>
                <td>{{ betreuungsschluessel.benoetigte_VZA_aktuell }}</td>
            </tr>
            <tr>
                <td><strong>Differenz zum Gesamtbedarf an Vollzeitstellen</strong></td>
                <td class="{% if betreuungsschluessel.differenz_VZA_max > betreuungsschluessel.benoetigte_VZA_max %}highlight-error{% endif %}">
                    {{ betreuungsschluessel.differenz_VZA_max }}
                </td>
                <td><strong>Differenz zum Mindestbedarf an Vollzeitstellen</strong></td>
                <td class="{% if betreuungsschluessel.differenz_VZA_mindest <= betreuungsschluessel.benoetigte_VZA_mindest %}highlight-error{% endif %}">
                    {{ betreuungsschluessel.differenz_VZA_mindest }}
                </td>
                <td><strong>Differenz benötigte Vollzeitstellen für die derzeitigen Teilnehmer:innen</strong></td>
                <td class="{% if betreuungsschluessel.differenz_VZA_aktuell <= betreuungsschluessel.benoetigte_VZA_aktuell %}highlight-error{% endif %}">
                    {{ betreuungsschluessel.differenz_VZA_aktuell }}
                </td>
            </tr>
        </tbody>
    </table>
    
    <h4>Mitarbeiter:innen des Auftrags:</h4>
    <table>
        <thead>
            <tr>
                <th>Nachname, Vorname</th>
                <th>Geburtsdatum</th>
                <th>Qualifikation</th>
                <th>Max. wöchentliche Arbeitszeit</th>
                <th>Anteil Stunden im Projekt</th>
                <th>Zugewiesene Stunden</th>
                <th>Verbleibende Stunden</th>
                <th>Kommentar</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for zuweisung in betreuungsschluessel.mitarbeiter_zuweisungen.all %}
            <tr>
                <td>
                    {% if zuweisung.mitarbeiter %}
                        <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_detail' zuweisung.mitarbeiter.id %}?next={{ request.path }}">
                            {{ zuweisung.mitarbeiter.nachname }}, {{ zuweisung.mitarbeiter.vorname }}
                        </a>
                        {% else %}
                            Keine Mitarbeiter:innen zugewiesen
                        {% endif %}
                </td>
                <td>{{ zuweisung.mitarbeiter.geburtsdatum|date:"d.m.Y" }}</td>
                <td>{{ zuweisung.mitarbeiter.qualifikation }}</td>
                <td>{{ zuweisung.mitarbeiter.max_woechentliche_arbeitszeit }}</td>
                <td>{{ zuweisung.anteil_stunden_pro_woche }}</td>
                <td>{{ zuweisung.total_hours }}</td>
                <td>{{ zuweisung.freie_stunden }}</td>
                <td>{{ zuweisung.kommentar }}</td>
                <td>
                    <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_betreuungsschluessel_delete' zuweisung.id %}">
                        Entfernen
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Keine Mitarbeiter:innen zugewiesen</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_betreuungsschluessel_create' betreuungsschluessel.id %}?next={{ request.path }}" class="auftrag-detail-link2">
        Mitarbeiter zuweisen
    </a>

    <br><br>
{% empty %}
    <p>Klicke auf "Neuer Betreuungsschlüssel", um einen Betreuungsschlüssel zu erstellen.</p>
{% endfor %}

<!-- Aktionen -->
<div class="link-container">
    <a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_create' %}?auftrag_id={{ auftrag.id }}&next={{ request.path }}" class="action-link">
        Neuer Betreuungsschlüssel
    </a>
    
    <a href="{{ zurueck_link }}" class="action-link">Zurück</a>
</div>

</body>

</html>
