<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- betreuungsschluessel_form.html -->
<h1>Betreuungsschlüssel erstellen/bearbeiten</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit">Speichern</button>
</form>

{% if request.META.HTTP_REFERER %}
    <a href="{{ request.META.HTTP_REFERER }}">Zurück</a>
{% else %}
    <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_list' %}">Zurück zur Übersicht der Personaleinsatzpläne</a>
{% endif %}

</body>
</html>