<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- betreuungsschluessel_detail.html -->
<h1>{{ betreuungsschluessel.name }}</h1>

<p><strong>Position:</strong> {{ betreuungsschluessel.position }}</p>
<p><strong>Klienten pro Betreuer:</strong> {{ betreuungsschluessel.klienten_pro_betreuer }}</p>
<p><strong>Benötigte VZA (max):</strong> {{ betreuungsschluessel.benoetigte_VZA_max }}</p>
<p><strong>Benötigte VZA (mindest):</strong> {{ betreuungsschluessel.benoetigte_VZA_mindest }}</p>
<p><strong>Benötigte VZA (aktuell):</strong> {{ betreuungsschluessel.benoetigte_VZA_aktuell }}</p>
<p><strong>Abgedeckte VZA:</strong> {{ betreuungsschluessel.abgedeckte_VZA }}</p>
<p><strong>Auftrag:</strong> <a href="{{ betreuungsschluessel.auftrag.get_absolute_url }}">{{ betreuungsschluessel.auftrag.name }}</a></p>

<h2>Zugewiesene Mitarbeiter</h2>
<ul>
    {% for zuweisung in betreuungsschluessel.mitarbeiter_zuweisungen.all %}
    <li>{{ zuweisung.mitarbeiter }} - {{ zuweisung.position }} - {{ zuweisung.anteil_stunden_pro_woche }}</li>
        <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_betreuungsschluessel_delete' zuweisung.id %}"
            onclick="return confirm('Möchten Sie die Zuordnung wirklich entfernen?');"
            class="btn btn-danger">Entfernen</a>

    {% endfor %}
</ul>

<h2>Mitarbeiter zuweisen</h2>
<form method="post">
    {% csrf_token %}
    {{ zuweisung_form.as_p }}
    <button type="submit">Mitarbeiter zuweisen</button>
</form>

<a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_update' betreuungsschluessel.pk %}">Bearbeiten</a>
<a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_delete' betreuungsschluessel.pk %}">Löschen</a>
<a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_list' %}">Zurück zur Übersicht der Betreuungsschlüssel</a>

</body>
</html>