<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Auftrag löschen</title>
</head>
<body>

<h1>Auftrag löschen</h1>
<p>Möchten Sie den Auftrag "{{ auftrag.name }}" wirklich löschen?</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit">Ja, löschen</button>
    
    <!-- Link zum Abbrechen, der den `next`-Parameter verwendet, falls vorhanden -->
    {% if request.GET.next %}
        <a href="{{ request.GET.next }}">Abbrechen</a>
    {% else %}
        <!-- Fallback: Zur Personaleinsatzplan-Übersicht zurückkehren -->
        <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_detail' auftrag.personaleinsatzplan.pk %}">Abbrechen</a>
    {% endif %}
</form>

</body>
</html>
