<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- index.html -->
<h1>Willkommen zur Verwaltungsplattform</h1>
<p>Hier können Sie alle wichtigen Modelle verwalten.</p>

<ul>
    <li><a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_list' %}">Personaleinsatzpläne verwalten</a></li>
    <li><a href="{% url 'PersonaleinsatzplanHaeH:auftrag_list' %}">Aufträge verwalten</a></li>
    <li><a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_list' %}">Betreuungsschlüssel verwalten</a></li>
    <li><a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_list' %}">Mitarbeiter verwalten</a></li>
    <li><a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_list' %}">Niederlassungen verwalten</a></li>
    <li><a href="{% url 'PersonaleinsatzplanHaeH:position_list' %}">Positionen verwalten</a></li>
</ul>

</body>
</html>