<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- mitarbeiter_list.html -->
<h1>Mitarbeiter</h1>
<ul>
    {% for mitarbeiter in mitarbeiter %}
    <li>
        <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_detail' mitarbeiter.pk %}?next={{ request.path }}">
            {{ mitarbeiter.vorname }} {{ mitarbeiter.nachname }}
        </a>

    </li>
    {% endfor %}
</ul>
<a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_create' %}?next={{ request.path }}">Neuen Mitarbeiter erstellen</a>

<a href="{{ zurueck_link }}">Zurück</a>


</body>
</html>