<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Details zur Mitarbeiter-Betreuungsschlüssel-Zuordnung</h1>
<p><strong>Mitarbeiter:</strong> {{ mitarbeiterbetreuungsschluessel.mitarbeiter }}</p>
<p><strong>Betreuungsschlüssel:</strong> {{ mitarbeiterbetreuungsschluessel.schluessel }}</p>
<p><strong>Stunden pro Woche:</strong> {{ mitarbeiterbetreuungsschluessel.anteil_stunden_pro_woche }}</p>
<p><strong>Position:</strong> {{ mitarbeiterbetreuungsschluessel.position }}</p>
<p><strong>Kommentar:</strong> {{ mitarbeiterbetreuungsschluessel.kommentar }}</p>
<a href="{% url 'mitarbeiter_betreuungsschluessel_update' mitarbeiterbetreuungsschluessel.pk %}">Bearbeiten</a>
<a href="{% url 'mitarbeiter_betreuungsschluessel_list' %}">Zurück zur Übersicht</a>

</body>
</html>