<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angaben Mitarbeiter:in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="personaleinsatzplan-seite">
    <section class="form-section">
        <h1>Mitarbeiter:in erstellen</h1>
        <form method="post" class="form">
            <fieldset>
                <legend>Angaben Mitarbeiter:in</legend>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Speichern</button>
        </fieldset>
        </form>
        <div class="link-container">
            {% if request.META.HTTP_REFERER %}
                <a href="{{ request.META.HTTP_REFERER }}" class="action-link">Zurück</a>
            {% else %}
                <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_list' %}" class="action-link">Zurück</a>
            {% endif %}
        </div>
    </section>
</body>
</html>
