<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitarbeiter zuweisen</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <section class="form-section">
        <h1>Mitarbeitendenzuweisung</h1>

        <!-- Formular zur Zuweisung -->
        <form method="post" class="form">
            <fieldset>
                <legend>Mitarbeitendenauswahl</legend>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <button type="submit" class="btn">Speichern</button>
        </fieldset>
        </form>

        <!-- Optionen -->
        <div class="link-container">
            <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_create' %}?next={{ request.GET.next }}" class="action-link">
                Neuen Mitarbeiter erstellen
            </a>
            <a href="{{ request.GET.next }}" class="action-link">Zurück</a>
        </div>
    </section>
</body>
</html>
