<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeiter zuweisen</title>
</head>
<body>
<h1>Mitarbeiter zuweisen</h1>

<!-- Formular zur Zuweisung -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit">Speichern</button>
</form>

<!-- Zurück-Button -->



<a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_create' %}?next={{ request.GET.next }}">
    Neuen Mitarbeiter erstellen
</a>

<a href="{{ request.GET.next }}">Zurück</a>
</body>
</html>