<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeiter-Betreuungsschlüssel-Zuordnung löschen</title>
</head>
<body>
<h1>Mitarbeiter-Betreuungsschlüssel-Zuordnung löschen</h1>
<p>Möchten Sie die Zuordnung "{{ mitarbeiterbetreuungsschluessel }}" wirklich löschen?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Ja, löschen</button>
    <!-- Abbrechen-Link -->
    <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_uebersicht' mitarbeiterbetreuungsschluessel.schluessel.auftrag.personaleinsatzplan.pk %}">
        Abbrechen
    </a>
</form>
</body>
</html>