<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Niederlassungen</h1>
<ul>
    {% for niederlassung in niederlassungen %}
    <li>
        <a href="{{ niederlassung.get_absolute_url }}">{{ niederlassung.name }}</a>
        <a href="{{ niederlassung.get_update_url }}">Bearbeiten</a>
        <a href="{{ niederlassung.get_delete_url }}">Löschen</a>
        <a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_personaleinsatzplan_uebersicht' niederlassung.pk %}">Übersicht anzeigen</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_create' %}">Neue Niederlassung erstellen</a>

<a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_list' %}?next={{ request.path }}">
    Zur Personaleinsatzplan-Liste
</a>


</body>
</html>