<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- niederlassung_detail.html -->
<h1>{{ niederlassung.name }}</h1>

<p><strong>Name der Niederlassung:</strong> {{ niederlassung.name }}</p>

<a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_update' niederlassung.pk %}">Bearbeiten</a>
<a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_delete' niederlassung.pk %}">Löschen</a>
<a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_list' %}">Zurück zur Übersicht der Niederlassungen</a>

</body>
</html>