<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- personaleinsatzplan_detail.html -->
<h1>{{ personaleinsatzplan.name }}</h1>

<p>Gültigkeit: {{ personaleinsatzplan.get_gueltigkeit_monat_display }} {{ personaleinsatzplan.gueltigkeit_jahr }}</p>
<p>Kostenträger: {{ personaleinsatzplan.kostentraeger }}</p>
<p>Ersteller: {{ personaleinsatzplan.ersteller }}</p>
<p>Version: {{ personaleinsatzplan.version }}</p>
<p>Status: {{ personaleinsatzplan.status }}</p>
<p>Niederlassung: {{ personaleinsatzplan.niederlassung }}</p>

<h2>Aufträge</h2>
<ul>
    {% for auftrag in personaleinsatzplan.auftraege.all %}
    <li>
        <a href="{{ auftrag.get_absolute_url }}">{{ auftrag.name }}</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'PersonaleinsatzplanHaeH:auftrag_create' %}">Neuen Auftrag erstellen</a>

<a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_update' personaleinsatzplan.pk %}">Bearbeiten</a>
<a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_delete' personaleinsatzplan.pk %}">Löschen</a>
<a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_list' %}">Übersicht der Personaleinsatzpläne</a>

<a href="{{ zurueck_link }}">Zurück</a>


</body>
</html>