<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Persoanleinsatzplanangaben</title>
</head>
<body class="personaleinsatzplan-seite">

<h1>Persoanleinsatzplan erstellen</h1>

        <section class="form-section">
            <form method="post" class="form">
                {% csrf_token %}
                <fieldset>
                    <legend>Persoanleinsatzplanangaben</legend>
                    {{ form.as_p }}
                </fieldset>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>
        </section>

<!-- Zurück-Link -->
<div class="link-container">
    <a href="{{ request.GET.next }}" class="action-link">Zurück</a>
</div>

</body>
</html>
