<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Personaleinsatzplan löschen</title>
</head>
<body>
<!-- personaleinsatzplan_confirm_delete.html -->
<h1>Personaleinsatzplan löschen</h1>
<p>Möchten Sie den Personaleinsatzplan "{{ personaleinsatzplan.name }}" wirklich löschen?</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit">Ja, löschen</button>
    {% if request.GET.next %}
        <a href="{{ request.GET.next }}">Abbrechen</a>
    {% else %}
        <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_list' %}">Abbrechen</a>
    {% endif %}
</form>

</body>
</html>
