<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Personaleinsatzpläne einer Niederlassung</title>
</head>
<body>

<h1>Personaleinsatzpläne</h1>
<ul>
    {% for personaleinsatzplan in personaleinsatzplaene %}
    <li>

        <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_uebersicht' personaleinsatzplan.pk %}?next={{ request.path }}">
            {{ personaleinsatzplan.name }}
        </a>



    </li>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_create' %}?niederlassung_id={{ niederlassung.id }}&next={{ request.path }}">
    Neuen Personaleinsatzplan für diese Niederlassung erstellen
</a>

<a href="{% url 'PersonaleinsatzplanHaeH:niederlassung_personaleinsatzplaene_pdf' niederlassung.id %}">
    Personaleinsatzpläne als PDF herunterladen
</a>







<a href="{{ zurueck_link }}">Zurück</a>




</body>
</html>

