<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- position_list.html -->
<h1>Positionen</h1>
<ul>
    {% for position in positionen %}
    <li>
        <a href="{{ position.get_absolute_url }}">{{ position.bezeichnung }}</a>
        <a href="{{ position.get_update_url }}">Bearbeiten</a>
        <a href="{{ position.get_delete_url }}">Löschen</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'PersonaleinsatzplanHaeH:position_create' %}">Neue Position erstellen</a>

<a href="{% url 'home' %}">Zurück zur Startseite</a>

</body>
</html>