{% for betreuungsschluessel in auftrag.betreuungsschluessel.all %}
    <table border="1">
        <thead>
            <tr>
                <td><strong>{{ betreuungsschluessel.name }}</strong></td>
                <td><a href="{% url 'PersonaleinsatzplanHaeH:betreuungsschluessel_delete' pk=betreuungsschluessel.pk %}?next={{ request.path }}">
                        Betreuungsschlüssel entfernen
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Position:</strong> {{ betreuungsschluessel.position }}</td>
                <td><strong>Klienten pro Betreuer:</strong> {{ betreuungsschluessel.klienten_pro_betreuer }}</td>
            </tr>
            <tr>
                <td><strong>Benötigte VZA Max:</strong> {{ betreuungsschluessel.benoetigte_VZA_max }}</td>
                <td><strong>Benötigte VZA Mindest:</strong> {{ betreuungsschluessel.benoetigte_VZA_mindest }}</td>
            </tr>
            <tr>
                <td><strong>Benötigte VZA Aktuell:</strong> {{ betreuungsschluessel.benoetigte_VZA_aktuell }}</td>
                <td><strong>Abgedeckte VZA:</strong> {{ betreuungsschluessel.abgedeckte_VZA }}</td>
            </tr>
                <td><strong>VZA Differenz Max:</strong> {{ betreuungsschluessel.differenz_VZA_max }}</td>
                <td><strong>VZA Differenz Mindest:</strong> {{ betreuungsschluessel.differenz_VZA_mindest }}</td>
                <td><strong>VZA Differenz Aktuell:</strong> {{ betreuungsschluessel.differenz_VZA_aktuell }}</td>
        </tbody>
    </table>