<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a href="{% url 'PersonaleinsatzplanHaeH:logout' %}" class="logout-link">Abmelden</a>
</div>

<h1>Willkommen zur F1 Personaleinsatzplanung</h1>

<h3>Wähle deine Niederlassung</h3>

<div class="card-container">
    {% for niederlassung in niederlassungen %}
    <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplaene_fuer_niederlassung' niederlassung.pk %}?next={% url 'PersonaleinsatzplanHaeH:startseite' %}" class="card-link-wrapper">
        <div class="card">
            <h4>{{ niederlassung.name }}</h4>
            <span class="card-link">Personaleinsatzpläne ansehen</span>
        </div>
    </a>
    {% endfor %}
</div>

<div class="link-container">
    <a href="{% url 'PersonaleinsatzplanHaeH:personaleinsatzplan_list2' %}?next={{ request.path }}" class="action-link">
        Liste aller Personaleinsatzpläne
    </a>
    <a href="{% url 'PersonaleinsatzplanHaeH:auftrag_list' %}?next={{ request.path }}" class="action-link">
        Liste aller Aufträge
    </a>
    <a href="{% url 'PersonaleinsatzplanHaeH:mitarbeiter_list' %}?next={{ request.path }}" class="action-link">
        Liste aller Mitarbeiter
    </a>
    <a href="{% url 'PersonaleinsatzplanHaeH:alle_personaleinsatzplaene_pdf' %}" class="action-link">
        Alle Personaleinsatzpläne als PDF herunterladen
    </a>
</div>

</body>
</html>
